.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    gap: 3rem;
}

.meuPC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    gap: 1rem;

    max-width: 20rem;

    background-color: darkgray;
    border-radius: 8px;
}