* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;

    width: 100%;
    max-width: 10rem;

    transition: opacity 0.2s;
}

button:hover {
    opacity: 0.9;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}