.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.course {
    font-size: 1.125rem;
    font-weight: 500;
    color: #666;
}

.university {
    font-size: 1rem;
    font-weight: 400;
    color: #999;
}